
    <div>
      <label class="form-label" for="name">Name</label>
      <input class="form-control" type="text" id="name" name="name">
    </div>
    <div>
      <label class="form-label" for="price">price</label>
      <input class="form-control" type="number" id="price" name="price">
    </div>
    <div>
        <label class="form-label" for="stock">stock</label>
        <input class="form-control" type="number" id="stock" name="stock">
    </div>
    <div>
      <label class="form-label" for="picture">picture</label>
      <input class="form-control" type="text" id="picture" name="picture">
    </div>
    
    <div>
      <input type="submit" value="Créer" class="btn btn-success">
    </div>
